<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:App/etc/routes.xsd">
    <router id="admin">
        <route id="elsnertech_event" frontName="elsnertech_event">
            <module name="Elsnertech_Event"/>
        </route>
    </router>
</config>

